<h1>Your new record looks like this</h1>
<table>
  <tr>
    <td>Protocol:</td>
    <td><%= @pr.protocol.name %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @pr.protocol.description %></td>
  </tr>
  <tr>
    <td>Resting Heart Rate:</td>
    <td><div style="display: inline-block;"><%= @pr.record.resting_heartrate %></div>  <div style="display: inline-block;">bpm</div></td>
  </tr>
  <tr>
    <td>Blood Pressure:</td>
    <td><div style="display: inline-block;"><%= @pr.record.bp_over %></div>/<div style="display: inline-block;"><%= @pr.record.bp_under %></div></td>
  </tr>
  <tr>
    <td>Mood Score:</td>
    <td><div style="display: inline-block;"><%= @pr.record.mood_score %></div> / 100</td>
  </tr>
  <tr>
    <td>Exercise:</td>
    <td><div style="display: inline-block;"><%= @pr.record.exercise_minutes %></div> minutes</td>
  </tr>
  <tr>
    <td>Water Consumed:</td>
    <td><div style="display: inline-block;"><%= @pr.record.water_consumed %></div>  <div style="display: inline-block;"><%= @pr.record.water_unit %></td>
  </tr>
  <tr>
    <td></td>
    <td><a href="/records/<%=@pr.record.id%>/edit"><button>Edit</button></a>
      <div style="display: inline-block;">
        <form action="/records/<%= @pr.record.id %>/delete" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </div>
    </td>
  </tr>
</table>
